<h1>Birthday Calculator</h1>

<div class="outercontainer">
  <div class="innercontainer">
    <form action="/calculate" method="POST">
      <label for="birthday"><p>Birthday date:<p></label>
      <input id="datepicker" type="text" name="birthday">
      <button type="submit" value="submit" class="calculate buttonz">Calculate!</button>
    </form>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      $( "#datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true
      });
    });
</script>