<h1>Birthday Calculator</h1>
<form action="/calculate" method="POST">

  <label for="birthday">Birthday Date (YYYYMMDD):</label>
  <input id="birthday" type="text" name="birthday" maxlength="8">

  <button type="submit" value="submit">Calculate!</button>

<a href="/calculate"> </a>