<h1>Birthday Calculator</h1>

<div class="outercontainer">
  <div class="innercontainer">
    <p class="days"><%= @message %></p>
    <p class="age"><%= @age %></p>
    <p><a href="/" class="home buttonz">Home</p></a>
  </div>
</div>