@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

p {
  font-size: 1.5em;
}

.age {
  margin-bottom: 20px;
}

.days {
  margin-bottom: 20px;
}

.buttonz {
  position: absolute;
  display: inline-block;
  background-color: skyblue;
  color: white;

  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 1em;
}

.hommies {

}

.buttonz:hover{
  background-color: #79BAEC;
}

.calculate {
  width: 110px;
  left: 50px;
  height: 40px;
}

.home {
  height: 30px;
  width: 90px;
  left: 90px;
  vertical-align: middle;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: 25px;
}

.outercontainer {
  text-align: center;
  height: 120px;
  margin-top: 25px;
}

.innercontainer {
  height: 120px;
  display: inline-block;
  position: relative;
  text-align: center;
}

a:visited {
  text-decoration:none;
  color: white;
}


a:hover {
  text-decoration:none;
  color: white;
}

a:active {text-decoration:none;}