@import url(http://fonts.googleapis.com/css?family=Pacifico);

.buttonz {
  position: absolute;
  display: inline-block;
  background-color: skyblue;
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 1em;
  left: 60px;
}

.buttonz:hover{
  background-color: blue;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: 25px;
}

.outercontainer {
  text-align: center;
  height: 120px;
  margin-top: 25px;
}

.innercontainer {
  height: 120px;
  display: inline-block;
  position: relative;
  text-align: center;
}